/* CSS RESET*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */

a:hover,
a:active {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* FONT */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url('amatic.ttf') format('truetype');
}
TOM START */
html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Amatic SC';
}

form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1200px;
    height: 300px;
    text-align: center;
    font-family: 'Amatic SC';
}

.option {
    font-size: 40pt;
    width: 320px;
    padding: 10px;
    vertical-align: middle;
    font-family: 'Amatic SC';
    text-align: center;
    background-color: transparent;
    color: black;
    -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.option:hover {
    border: 1px solid #dddddd;
}

#or {
    font-size: 140pt;
    margin: 0 50px;
    vertical-align: middle;
    border: none;
    display: inline-block;
}

.btn {
    width: 862px;
    background-color: rgb(101, 207, 175);
    color: white;
    font-size: 60px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Amatic SC';
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.43);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.btn:hover {
    background-color: rgb(83, 169, 144);
    text-decoration: none;
}

.btn-round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 22pt;
    border: none;
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

#submit {
    margin-top: 40px;
}

#svgout {
    width: 2000px;
    height: 2000px;
    margin: auto;
    overflow: hidden;
}

#container {
    width: 2000px;
    height: 2000px;
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.border {
    border: none;
    -webkit-appearance: none;
}
